{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:react/recommended", "prettier", "prettier/react"],
  "plugins": ["react", "react-hooks", "jsx-a11y", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": "error",
    "react/jsx-filename-extension": 0,
    "react/state-in-constructor": ["error", "never"],
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
