# scripts data
scripts/sync/data/*

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# gatsby files
.cache/
public

# build files
src/youTubeStats.ts
goodreads-data.csv
